.App {
  display: flex;
  justify-content: center;
  alight-items: enter;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}
.row {
  display: flex;
  widthl: 100%;
}
